<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="1.5.0" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.5.2" targetFramework="net45" />
  <package id="zxcvbn.net" version="0.0.16" targetFramework="net45" />
</packages>